<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.hotelserver.emp.mapper.EmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.swpu.hotelserver.emp.entity.Emp">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="id_num" property="idNum" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="position" property="position" />
        <result column="img_url" property="imgUrl" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <update id="updateEmpRole">
        UPDATE emp_role
            INNER JOIN emp ON emp.id = emp_role.emp_id
            INNER JOIN role ON role.id = emp_role.role_id
        SET emp_role.role_id = (SELECT id FROM hotel_db.role WHERE role_name = #{empExample.position})
        WHERE emp_role.emp_id = #{empExample.id} AND #{empExample.position} != role.role_name;



    </update>
    <insert id="addEmpRole">
        INSERT INTO emp_role (emp_id, role_id)
        SELECT #{emps.id}, r.id
        FROM hotel_db.role r
        WHERE r.role_name = #{emps.position}
    </insert>


    <delete id="removeEmpRole">
        delete from emp_role
        where emp_role.emp_id=#{id}
    </delete>
    <select id="showEmpmenu" resultType="java.lang.Integer">
        select perm_type from emp_role
                                  INNER JOIN emp ON emp.id = emp_role.emp_id
                                  INNER JOIN role ON role.id = emp_role.role_id
        where emp.id=#{id}
    </select>


</mapper>
