<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.hotelserver.emp.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.swpu.hotelserver.emp.entity.Order">
        <id column="id" property="id" />
        <result column="room_id" property="roomId" />
        <result column="client_name" property="clientName" />
        <result column="order_num" property="orderNum" />
    </resultMap>

    <select id="pageQuery" resultType="com.swpu.hotelserver.emp.dto.pageRoomOrderDTO">
        select o.*,r.price
        from order_form o
        inner join hotel_db.room r on o.room_id = r.room_num
        <where>
            <if test="orderPageDTO.orderNum != null and orderPageDTO.orderNum != ''">
                and o.order_num like concat('%',#{orderNum},'%')
            </if>
            <if test="orderPageDTO.clientName != null and orderPageDTO.clientName != ''">
                and o.client_name like concat('%',#{clientName},'%')
            </if>
            <if test="orderPageDTO.createTime != null and orderPageDTO.createTime != ''">
                and o.create_time between #{startTimeStr} and #{endTimeStr}
            </if>
        </where>
    </select>

    <select id="selectData" resultType="com.swpu.hotelserver.emp.dto.OrderStatisticDTO">
        select
            sum(case when date(create_time) = curdate() then 1 else 0 end) as orderNumToday,
            sum(case when date(create_time) = curdate() then price else 0 end ) as dayTurnover,

            sum(case when date(create_time) = curdate() - interval 1 day then 1 else 0 end ) as orderNumYesterday,
            sum(case when date(create_time) = curdate() - interval 1 day then price else 0 end ) as yesterdayTurnover,

            sum(case when yearweek(create_time, 1) = yearweek(curdate(), 1) then 1 else 0 end ) as orderNumWeek,
            sum(case when yearweek(create_time, 1) = yearweek(curdate(), 1) then price else 0 end ) as weekTurnover,

            sum(case when yearweek(create_time, 1) = yearweek(curdate() - interval 1 week , 1) then 1 else 0 end ) as orderNumLastWeek,
            sum(case when yearweek(create_time, 1) = yearweek(curdate() - interval 1 week , 1) then price else 0 end) as lastWeekTurnover,

            sum(case when year(create_time) = year(curdate()) and month(create_time) = month(curdate()) then 1 else 0 end ) as orderNumMonth,
            sum(case when year(create_time) = year(curdate()) and month(create_time) = month(curdate()) then price else 0 end ) as monthTurnover,

            sum(case when year(create_time) = year(curdate() - interval 1 month ) and month(create_time) = month(curdate() - interval 1 month ) then 1 else 0 end) as orderNumLastMonth,
            sum(case when year(create_time) = year(curdate() - interval 1 month ) and month(create_time) = month(curdate() - interval 1 month ) then price else 0 end) as lastMonthTurnover
        from
            order_form o
        inner join hotel_db.room r on o.room_id = r.room_num
    </select>

</mapper>
